<!DOCTYPE html>
{% load static %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124340949-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124340949-1');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/blog/images/layout/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main2.css' %}">

  <link <link href="https://fonts.googleapis.com/css?family=Galada|Raleway|Slabo+27px" rel="stylesheet">
  <title> Anything and everything </title>
</head>

<!-- This HTML document is divided into sections which act as grid containers for the corresponding CSS file. Each section contains HTML div elements that are styled in a clockwise fashion.  -->


<section id= "desktop-home">
  <div class= "grid">
    <!-- Give the website a logo -->
    <div class= "logo">
      <img class= "logopic" src="static/blog/images/layout/logo2.svg">
    </div>
    <!-- The horizontal portion of my stylish title! -->
    <div class= "horz-website-title">
      <h2 class="errata-style"> Errata </h2>
    </div>
    <!-- Page navigation -->
    <div class= "menu">
      <nav>
        <a href="#desktop-home">About</a>
        <a href="#picture-page">Photos</a>
        <a href="#blog-page">Blog</a>
      </nav>
    </div>
    <!-- Give the About section a nice label! -->
    <div class= "desktop-about-title">
      <h2>About</h2>
    </div>
    <!-- The vertical portion of my stylish title! -->
    <div class= "vert-website-title">
        <h2 class= "lacuna-style"> Lacuna </h2>
    </div>
    <!-- Display any and all About content here. -->
    <div class= "about-content">
        <h1 class= "about-text">Q what is Lacuna Errata?</h1>
        <h1 class= "about-text2">A Based on the name, likely a mistake. </h1>
        <h1 class= "about-text">Q Why does it exist?</h1>
        <h1 class= "about-text2">A Because mistakes are human.</h1>
    </div>
  </div>
</section>


<!-- Home page for mobile website -->
<section id= "mobile-home">
  <div class="grid">
    <div class="logo">
      <img class= "logopic" src="static/blog/images/layout/logo.svg">
    </div>
    <div class="webName">
    </div>
    <div class="webNameLac">
      <p>Lacuna</p>
    </div>
    <div class="webNameErr">
      <p>Errata</p>
    </div>
    <div class="navAbout">
      <a href="#m-about-page">About</a>
    </div>
    <div class="navBlog">
      <a href="#blog-page">Blog</a>
    </div>
    <div class="navPics">
      <a href="#picture-page">Photos</a>
    </div>
  </div>
</section>


<!-- About page for mobile website -->
<section id= "m-about-page">
  <div class= "grid">
    <div class= "m-about-title">
      <p> About </p>
    </div>
    <div class= "m-about-content">
      <h1 class= "about-text">Q: what is Lacuna Errata?</h1>
      <h1 class= "about-text2">A: Based on the name, likely a mistake. </h1>
      <h1 class= "about-text">Q: Why does it exist?</h1>
      <h1 class= "about-text2">A: Because mistakes are human.</h1>
    </div>
    <div class= "m-about-page-switch">
      <a class= "mobile-page-toggle1" href="#mobile-home">Back to Top</a>
      <a class= "mobile-page-toggle2" href="#picture-page">On to Photos</a>
    </div>
  </div>
</section>


<section id= "picture-page">
  <div class= "grid">
    <!-- Set of picture divs to toggle between. -->
    <div class= "picture-grid pictures denver pic-fadein">
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/banners.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/flags.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/halt.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/hatless.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/onlooking.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/pieday.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/sardine.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/speech.jpg">
      </div>
      <div class="imgContainer pic-fadeout">
        <img class="js-lazy-image" data-src="static/blog/images/denver/steps.jpg">
      </div>
    </div>
    <div class= "picture-grid pictures berlin pic-fadeout"></div>
    <div class= "picture-grid pictures nature pic-fadeout"></div>
    <!-- Give the Pictures section a nice label! -->
    <div class= "picture-title">
      <h2>Pictures</h2>
    </div>
    <!-- Display the buttons for toggling pictures. -->
    <div class= "button-box pic-nav">
      <button id="denver" >Denver</button>
      <button id="berlin">Berlin</button>
      <button id="nature">Nature</button>
    </div>
    <div class= "picture-page-switch">
      <a class= "desktop-page-toggle" href="#desktop-home">Return to Top</a>
      <a class= "mobile-page-toggle1" href="#mobile-home">Return<br> to Top</a>
      <a class= "desktop-page-toggle" href="#blog-page">Onward to Blog</a>
      <a class= "mobile-page-toggle2" href="#blog-page">Down<br> to Blog</a>
    </div>
  </div>
</section>


<section id= "blog-page">
  <div class= "grid">
    <!-- Give the Blog section a nice label! -->
    <div class= "blog-title">
      <h2> Blog </h2>
    </div>
    <div class= "blog-page-switch">
      <a class= "desktop-page-toggle" href="#picture-page">Back to Photos</a>
      <a class= "mobile-page-toggle2" href="#picture-page">Back to Photos</a>
      <a class= "desktop-page-toggle" href="#desktop-home">Return to Top</a>
      <a class= "mobile-page-toggle1" href="#mobile-home">Return to Top</a>
    </div>
    <div class= "blog-sidebar-fluff">
    </div>
    <!-- Display any and all blog content here. -->
    <div class= "blog-content">
      <h1> Lacuna Errata aims to explore the misconceptions and arcana that illuminate the human experience. That is the aim, currently she's a newly christened vessal moored to the proverbial quay. Don't let that run you off though! Knock about the website, absorb some of that excellent photography above, and come back by when the engine starts to rumble. Until then... </h1>
      <h2> Aloha!</h2>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/blog/js/node_modules/intersection-observer/intersection-observer.js"></script>
<script src="/static/blog/js/main.js"></script>
